a {
	color:#000000;
}
.box_ppal{
	margin-top: 60px;
	height: 400px;
}
.title_ppal{
	margin-top: 90px;
}
.title_ppal h3{
	line-height: 15px;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
  color:#0E19C5;
}
.span4,.box_select_cli li{
	margin-top: 45px;
	text-decoration: none;
	line-height: 0px;
	float: left;
}
.box_select_cli li{
	display: block;
	padding: 0;
}


