/* WARNING:	Your are using ligatures for your icon font.
			Ligatures are not supported in IE 9 (and older).
			Use the Private Use Area encoding for best browser support.
==================================================================== */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
		speak: none;
	/* Enable Ligatures */
	-webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
	font-feature-settings:"liga","dlig";
	text-rendering:optimizeLegibility;
		font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
		speak: none;
	/* Enable Ligatures */
	-webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
	font-feature-settings:"liga","dlig";
	text-rendering:optimizeLegibility;
		font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-arrow-right:before {
	content: "\44";
}
.icon-arrow-right-2:before {
	content: "\64";
}
.icon-arrow-left:before {
	content: "\49";
}
.icon-arrow-left-2:before {
	content: "\69";
}
.icon-play:before {
	content: "\44\44";
}
.icon-checkmark:before {
	content: "\42";
}
.icon-cancel:before {
	content: "\78";
}
.icon-arrow-right-3:before {
	content: "\64\64";
}
.icon-arrow-left-3:before {
	content: "\69\69";
}
.icon-play-2:before {
	content: "\64\64\64";
}
.icon-checkmark-2:before {
	content: "\62\62";
}
.icon-enter:before {
	content: "\65";
}
